{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <audio controls="controls">
              Your browser does not support the <code>audio</code> element.
              <source src="7mjxbwil.wav" type="audio/wav">
            </audio>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <object data="{{pdfFile}}" type="application/text" width="1000" height="1200">
  alt : <a href="/static/sheet_notes/{{filename}}">{{filename}}</a>
</object>
</div>
{% endblock %}